.checkout-item-container{
  display: grid;
  grid-template-columns: 25% 30% 15% 15% 15%;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid darkgrey;
  padding-bottom: 2rem;
  .checkout-item-image{
    height: 180px;
    width: 130px;
    border-radius: 15px;

  }

  .name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    color: #444444;
  }

  .value{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E55B5B;
    border-radius: 50%;
    margin:0;
    color:white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }

  .price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #797979;
  }

  

  .remove-button-container{
    width: 70px;
    height: 70px;
    cursor:pointer;

    .remove-closed-button{
      width: 50px;
      height: 50px;
      fill:#E55B5B;
      position: relative;
      top:15%
  
    
      
    }

    .remove-open-button{
      height: 50px;
      width: 50px;
      fill:#E55B5B;
      display: none;
      position: relative;
      top:15%
    }
    &:hover{

      .remove-closed-button{
      
      display: none;
      }
      .remove-open-button{
        display: block;
      }
    }
    }
   

  
    
}

@media (max-width: 550px){

  .checkout-item-container{
    width: 100%!important;
    grid-template-columns: 40% 45% 10% !important;
    grid-template-rows: auto!important;
    
    
      .checkout-item-image-container{
        grid-column-start:1; 
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 5;    }
      .name{
        grid-column-start:2; 
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;    
        
      }
    
      .quantity{
        grid-column-start:2; 
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;  
    
      }
    
      .price{
        grid-column-start:2; 
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;  
      }
      .remove-button-container{
        grid-column-start:3; 
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;  
    
      }
  }
 
  
}