.checkOut-container{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px  auto 0rem;
    max-width: 1000px;

    .table-titles{
        display: grid;
        
        width: 100%;
        grid-template-columns:  25% 30% 15% 15% 15%;
        border-bottom: 1px solid darkgrey;
        padding: 10px 0;
        .header-block {
            text-transform: capitalize;
            width: 23%;
      
            &:last-child {
              width: 8%;
            }
        }

    }
    .product-card{
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      width: 100%;

    }
    .total {

        margin-top: 1rem;
        margin-left: auto;
        font-size: 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        color: #757575;
      }
      

}

@media (max-width: 550px){

  .checkOut-container{
    margin:100px  1rem;
  }
  .table-titles{
    display: none!important;
  }
}